.snakemake

thirdparty
plots
build
tmp
root
csv
archive

output*
test*
old

*.png
*.pdf

gdml
timing.tsv
__pycache__
.ipynb_checkpoints
*.svg
*.csv
run*.sh
.virtual_documents

*.tar.gz
perf.data
out.*
